* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #fff8f3;
  min-height: 100vh;
  background-image: url(./images/header_bg.png), url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  padding-top: 50px;
}
.nav_title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav button {
  margin-left: 50px;
}
.text-primary {
  color: #fd6e0a;
}
/* utility class */
.btn-primary {
  display: flex;
  padding: 20px 25px;
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  gap: 10px;
  align-items: center;
}
.btn-possition {
  display: flex;
}
.btn-contract {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  color: #fd6e0a;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  background-color: transparent;
}
.banner {
  /* margin: 150px 200px; */
  margin-left: 200px;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-image {
  width: 500px;
  /* width: 110%; */
  /* transform: scaleX(-1); */
  /* position: absolute;
  top: 72px;
  right: -120px; */
}
.banner-image-container {
  position: relative;
  height: 500px;
  width: 50%;
}
.banner-title {
  font-size: 75px;
  font-weight: 700;
  margin-top: 20px;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 600;
}
.banner-p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  color: #757575;
  font-size: 20pz;
}
.info-descrition {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* whAT i do */
section {
  margin-top: 130px;
}
.what-i-do-description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin: 0 90px;
  margin-bottom: 50px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skills {
  padding: 35px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
}
/* resume style */
.resume-container {
  display: flex;
  gap: 24px;
}
.resume-maintitle {
  font-size: 30px;
  color: #474747;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-title {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}
.resume-subtitle {
  font-size: 20px;
  color: #757575;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-description {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
/* footer style */
.contact {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 180px;
  margin-top: 130px;
}
.contact .footer-title {
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 35px;
}
.contact input,
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
.footer-description {
  font-size: 16px;
  color: #7a7777;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact a {
  text-decoration: none;
}
.icon-gap {
  padding-right: 20px;
}

@media screen and (max-width: 576px) {
  .skills-container {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  .what-i-do {
    margin: 25px;
    padding: 0;
  }
  .resume-container {
    flex-direction: column;
    margin: 0 25px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 25px;
    margin-top: 130px;
  }
  .contact .footer-title {
    margin-top: 100px;
    margin-bottom: 35px;
  }
  .submit {
    margin-bottom: 50px;
  }
  .about {
    border-radius: 15px;
    margin: 0 25px;
    padding: 100px 0px;
    text-align: center;
    margin-bottom: 100px;
  }
  .about-info-container {
    flex-direction: column;
    justify-content: center;
  }
  .about-info {
    margin-bottom: 30px;
  }
  .info-title {
    margin-bottom: 15px;
  }
  .main {
    margin-top: 100px;
  }
  .banner {
    flex-direction: column;
  }
  header {
    background-image: none;
  }
  .banner-image {
    width: 100%;
  }
  nav {
    margin: 25px;
  }
  /* nav ul {
    flex-direction: column;
  } */
  .banner {
    /* margin: 150px 200px; */
    margin: 20px;
  }
  .banner-image-container {
    width: 100%;
    height: 100%;
  }
  nav li {
    margin-left: 0;
    display: none;
  }
  nav ul {
    display: flex;
    gap: 40px;
  }
  nav button {
    margin-top: 20px;
    margin-left: 0;
  }
}
